/**
 * Noctra OS — Material You Rofi Theme
 **/

* {
    /* Map Matugen variables to Rofi properties */
    bg-col:  #141218;
    border-col: #948f99;
    selected-col: #4f3d74;
    text-col: #e7e0e8;
    highlight-col: #d2bcfd;
    on-selected-col: #eaddff;

    width: 600;
    font: "JetBrains Mono 12";
}

window {
    height: 360px;
    border: 2px;
    border-color: @border-col;
    background-color: @bg-col;
    border-radius: 12px;
}

mainbox {
    background-color: @bg-col;
}

inputbar {
    children: [prompt,entry];
    background-color: @bg-col;
    border-radius: 5px;
    padding: 2px;
}

prompt {
    background-color: @highlight-col;
    padding: 6px;
    text-color: @bg-col;
    border-radius: 3px;
    margin: 20px 0px 0px 20px;
}

entry {
    padding: 6px;
    margin: 20px 0px 0px 10px;
    text-color: @text-col;
    background-color: @bg-col;
}

listview {
    border: 0px 0px 0px;
    padding: 6px 0px 0px;
    margin: 10px 0px 0px 20px;
    columns: 2;
    lines: 5;
    background-color: @bg-col;
}

element {
    padding: 5px;
    background-color: @bg-col;
    text-color: @text-col;
}

element selected {
    background-color:  @selected-col;
    text-color: @on-selected-col;
    border-radius: 3px;
}
